#contenedor{
    border-color:black;
    padding: 50px;
    border:solid rgb(213, 11, 11) 5px;
    width:60%;
    color:rgb(13, 37, 160);
    text-align: center;
    margin:0px auto;
    background-color: aqua;
}

.Main{
    margin-top: 20%;
    margin-left: 20%;
}


