body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

.contenedor {
  display: flex;
  justify-content: center;
}

.c{
  width: 100%;
}

.bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.w-full {
  width: 50%;
}

.p-3 {
  padding: 0.75rem/* 12px */;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.uppercase {
  text-transform: uppercase;
}
.font-bold {
  font-weight: 700;
}

.hover\:bg-slate-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.boton{
  background-color: var(--buttom-color);
  color: var(--small-text-color);
  border-radius: 10px;
  width: 260px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  margin-top: 50px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-right: 10px;
}

.boton2{
  background-color: var(--buttom-color);
  color: var(--small-text-color);
  border-radius: 10px;
  width: 260px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-right: 10px;
  padding: 0;
  
}

.custom-input-file {
  background-color: #121492dd;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 400px;
}

.custom-input-file .input-file {
 border: 10000px solid transparent;
 cursor: pointer;
 font-size: 10000px;
 margin: 0;
 opacity: 0;
 outline: 0 none;
 padding: 0;
 position: absolute;
 right: -1000px;
 top: -1000px;
}

.button {
  background-color: #121492dd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#cargoPersonal{
  width: 350px;
  text-align: center;
}